body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #222;
      color: white;
    }

    .box {
      width: 360px;
      padding: 20px;
      background: #333;
      border-radius: 8px;
      text-align: center;
    }

    #flag {
      margin-top: 15px;
      font-weight: bold;
      color: #00ff99;
    }