/* normalisation visuelle */

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #2c2c54;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.card {
    background: white;
    padding: 20px;
    width: 60%;
    margin: 40px auto;
    border-radius: 10px;
}

/*
    regarde_
*/