
html, body {
    height: 100%;
}

 body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    text-align: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}